# Database Configuration
MONGODB_URI=mongodb://localhost:27017/gezginfigur

# Server Configuration
PORT=3000

# Authentication Configurations
JWT_SECRET=your_jwt_secret_here
GITHUB_CLIENT_ID=your_github_client_id_here
GITHUB_CLIENT_SECRET=your_github_client_secret_here
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback
GITHUB_ADMIN_USERNAME=your_github_admin_username_here
FRONTEND_URL=http://localhost:5173

# Cloudinary Configurations
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

